body {
    font-family: Arial, sans-serif;
    background-color: #09c5e2;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    /* background-color: #34495e; */
    background-color: black;
    padding: 2em;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(26, 25, 25, 0.5);
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #58cdcd;
}

.input-container {
    margin-top: 20px;
}

input[type="date"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #7f8c8d;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.result-container {
    margin-top: 30px;
}

#moon-phase-image {
    width: 100px;
    height: 100px;
    background-color: #bdc3c7;
    border-radius: 50%;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px #7f8c8d;
    position: relative;
    overflow: hidden;
}

#moon-phase-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #34495e;
    transform: scale(0);
    transition: transform 1s ease;
}

#moon-phase-text {
    font-size: 1.2em;
    font-weight: bold;
    color: #58cdcd;
}




